* {
    margin: 0px;
    padding: opx;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
      "hd hd hd hd   hd   hd   hd   hd   hd "
      "sd sd main main main main main main main"
      "sd sd main main main main main main main"
      "ft ft ft ft   ft   ft   ft   ft   ft";
      grid-gap: 1em;
      font-family: Arial, Helvetica, sans-serif;
      background-color:#292929;
    font-family: Arial, Helvetica, sans-serif;
    height:790px;
}
.header {
    background-color: salmon;
    grid-area: hd;
    text-align: center;
    max-height: 34px;
    padding-top: 6px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 1em;
    margin-left: 5px;
    margin-right: 5px;
}
.sidebar {
    background-color: #06D6A0;
    margin-left: 5px;
    border-radius: 10px;
    height: 300px;
    width: 135px;
}
.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    

}
.link {
    display: block;
    width: 100px;
    background-color: #118AB2;
    line-height: 1.5em;
    padding-left: 8px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color:#292929;
    border: solid 1px #292929;
}
a.link:hover {
background-color: #32BDEC;    

}

.main {
    grid-area: main;
    background-color: salmon;
    margin-right: 20px;
    margin-left: 0px;
    border-radius: 10px;
    width: 1000px;
}
h1 {
    text-align: center;
}
.main p {
    padding: 10px;
    font-size: 1.5em;
    text-align: justify;
}
.footer {
    grid-area: ft;
    background-color: #073B4C;
    height: 60px;
    align-self: flex-end;
    text-align: center;
    
}
.footer p {
    padding-top: 15px;
    font-size: 20px;
    color: black;
    font-style: italic;
}







